[submodule "simulator"]
	path = simulator
	url = https://github.com/dittonetwork/simulator
	branch = master
[submodule "indexer"]
	path = indexer
	url = https://github.com/dittonetwork/indexer
	branch = master
